<html>

<body>


<table border=0 cellspacing="10">
<tr><td><img src="/images/ww-web.png" height=100/></td><td><h1>warewulf-web</h1></td></tr>
</table>

<p>
<a href="/node">Node Summary</a> | <a href="/vnfs">VNFS Capsules</a> | <a href="/bootstrap">Bootstraps</a> | <a href="/file">Files</a>
| <a href="/logout">Log out</a>
</p>



<div id="content">
<% content %>
</div> 

</body>

</html>


